@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0px;
    text-decoration: none;
    box-sizing: border-box;

    background-color: #0C151D;
    font-family: Poppins;
    font-weight: 500;
}

a{
    background-color: transparent;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 178px;
    gap: 48px;
}

h1 {
    color: #F1F2F4;
    font-size: 46px;
}

* {
    color: #A3ABB2;
}

.perfil-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.perfil-container>img {
    width: 215px;
    height: auto;
}

.perfil-container .perfil-info {
    display: flex;
    flex-direction: column;
}

.perfil-container .perfil-info .perfil-icons {
    display: flex;
    gap: 26px;
    margin-top: 12px;
}

.perfil-history {
    display: flex;
    align-items: center;
    gap: 90px;
}

.perfil-history .work {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 148px;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 38px;
}

.buttons .download {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background-color: #FFE071;
    color: #3d3d3d;
    padding: 24px 42px;
}

.buttons .contact {
    border-radius: 10px;
    background-color: #171F26;
    color: #A3ABB2;
    padding: 24px 81px;
}

.buttons .download>img {
    background-color: #FFE071;
}

.wrapper-photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.photos{
    width: 757px;
}

.wrapper-photos .wrapper-buttons {
    display: flex;
    justify-content: center;
    background-color: #171F26;
    border-radius: 20px;
    margin-top: 75px;
    padding: 18px;
    width: 757px;
}

.wrapper-photos .portfolio {
    background-color: #0C151D;
    padding: 24px 120px;
    border-radius: 10px;
}

.wrapper-photos .wrapper-buttons .skills{
    background-color: transparent;
    padding: 24px 120px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.wrapper-photos .row1,.row2,.row3{
    display: flex;
    gap: 32px;
    padding-bottom: 48px;
}